<robot name="mycar" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- 属性封装 -->
    <xacro:property name="radius" value="0.03" />
    <xacro:property name="PI" value="3.1415927" />
    <!--屬性調用-->
    <useProperty1 name= "${radius}" />
    <useProperty2 name="${PI}" />

    <!--算數運算-->
    <useProperty3 name="${PI * radius}" />

</robot>